* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    background-color: #8b51fe;
    width: 100%;
    height: 100vh;
}

main {
    background-color: #ffffff;
    border-radius: 15px;
    width: 30vw;
    display: grid;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

.container_top {
    width: 80%;
    margin: 50px auto auto auto;
}

.container_bottom {
    background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)), url(img/logo.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #772FD3
}

.currency,
.currency-converted {
    color: #555555;
    height: 30px;
    top: 68px;
    left: 24px;
    border-color: #BBBBBB;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.paragrafo_1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}

.paragrafo_2 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}

.paragrafo_3 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}

.paragrafo_4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}

.paragrafo_5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #777777;
}

.input_value {
    padding-left: 10px;
    color: #555555;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    height: 30px;
    width: 100%;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px #00000026;
    border-color: #BBBBBB;
}

.input_value_1 {
    text-align: center;
    border: none;
    width: 100%;
    color: #555555;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    height: 30px;
    width: 100%;
}

.input_value_2 {
    text-align: center;
    border: none;
    width: 100%;
    color: #555555;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    height: 30px;
    width: 100%;
}

.flags {
    text-align: center;
    margin: 15px auto auto auto;
    width: 95%;
}

button {
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0px 3px 3px 0px #00000040;
    border: none;
    background-color: #772FD3;
}

button:active {
    background-color: #5e23a8;
    transform: scale(0.99);
}

.vector {
    display: flex;
    margin: 15px auto auto auto;
    width: 30px;
}

@media (max-width: 1000px) {
    main {
        background-color: #ffffff;
        border-radius: 15px;
        width: 32vw;
        display: grid;
        justify-items: center;
        margin-top: 10px;
    }
}

@media (max-width: 920px) {
    main {
        background-color: #ffffff;
        border-radius: 15px;
        width: 32vw;
        display: grid;
        justify-items: center;
        margin-top: 10px;
    }

    .container_top {
        width: 80%;
        margin: 15px auto auto auto;
    }
}

@media (max-width: 650px) {
    main {
        background-color: #ffffff;
        border-radius: 15px;
        width: 44vw;
        display: grid;
        justify-items: center;
        margin-top: 10px;
    }
}

@media (max-width: 520px) {
    main {
        background-color: #ffffff;
        border-radius: 15px;
        width: 55vw;
        display: grid;
        justify-items: center;
        margin-top: 10px;
        height: 97vh;
    }

    .container_top {
        width: 80%;
        margin: 15px auto auto auto;
    }

    @media (max-width: 420px) {
        main {
            background-color: #ffffff;
            border-radius: 15px;
            width: 95vw;
            display: grid;
            justify-items: center;
            margin-top: 10px;
            height: 97vh;
        }

        .container_top {
            width: 80%;
            margin: 15px auto auto auto;
        }
    }



}